<footer class="page-footer font-small blue bg-light">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2 mx-5 text-secondary">
    <a href="mailto: info@email.com">info@email.com</a> , or phone 111-222-3333.
  </div>
  <div class="footer-copyright text-left py-0 mx-5 text-secondary">You are entering an official system, which may be used only for authorized purposes. Unauthorized use of this website is prohibited.</div><br><br>
  <!-- Copyright -->
</footer>