<style>
  #footer-container-consumer {
    background-color: #DDDDDD;
    color: black;
    font-size: 12pt;
    padding: .6em 30px .6em;
    bottom: 0;
    position: absolute;
    width: 100%;
    min-width: 1300px;
    z-index: 9;
  }

  #footer-version {
    padding-right: .6em;
  }

  #footer-copyright {
    padding-left: .6em;
  }
  
  @media only screen and (max-width: 500px) {
    #footer-container-consumer {
      min-width:0;
    }
    
    #footer-version, #footer-copyright {
      font-size: .8em !important;
    }
  
  }

</style>

<footer id="footer-container-consumer">
  <span id="footer-version" class="body1">Version: <%=version%></span> |
  <span id="footer-copyright" class="body1">Copyright &copy; <%=year%>. All rights reserved.</span>
</footer>
