<style>
  #footer-container-consumer {
    background-color: #DDDDDD;
    color: black;
    font-size: 12pt;
    padding: .6em 30px .6em;
    bottom: 0;
    position: absolute;
    width: 100%;

    color: black;
  }

  #footer-version {
    padding-right: .6em;
  }

  #footer-copyright {
    padding-left: .6em;
  }
</style>

<footer id="footer-container-consumer">
  <span id="footer-version">Version: <%=version%></span> |
  <span id="footer-copyright">Copyright &copy; <%=year%>. All rights reserved.</span>
</footer>
