<style>
  #footer-container-consumer {
    background-color: #DDDDDD;
    color: black;
    font-size: 12pt;
    padding: .6em 30px .6em;
    bottom: 0;
    position: absolute;
    width: 100%;
    /* min-width: 1300px; */
    z-index: 9;
  }

  #footer-version {
    padding-right: .6em;
  }

  #footer-pipe {
    padding-left: .6em;
  }

  #footer-copyright {
    padding-left: .6em;
  }
  
  
  @media (max-width: 500px) {
    #footer-container-consumer {
      position: relative;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    
    #footer-version, #footer-copyright {
      font-size: .8em !important;
      text-align: center;
    }

    #footer-version {
      padding-right: .6em;
    }

    #footer-pipe {
      padding-left: 0;
    }

    #footer-copyright {
      padding-left: .6em;
    }
  }
  
  @media (max-width: 360px){
    #footer-container-consumer {
      flex-direction: column;
    }

    #footer-version, #footer-copyright {
      margin: 5px 0;
    }

    #footer-pipe {
      display: none;
    }
  }

</style>

<footer id="footer-container-consumer">
  <span id="footer-version" class="body1">Version: <%=version%></span><span id="footer-pipe">|</span>
  <span id="footer-copyright" class="body1">Copyright &copy; <%=year%>. All rights reserved.</span>
</footer>
