<style>
  #footer-container-consumer {
    background-color: #DDDDDD;
    color: black;
    font-size: 12pt;
    padding: .6em 30px .6em;
    bottom: 0;
    position: sticky;
    width: 100%;
    z-index: 9;
  }

  #footer-version {
    padding-right: .6em;
  }

  #footer-copyright {
    padding-left: .6em;
  }

  .footer-text-consumer {
    color: black;
  }
</style>

<footer id="footer-container-consumer">
  </string><span class="footer-text-consumer" id="footer-version">Version: <span id="ad-version"></span></span> | <span
    class="footer-text-consumer" id="footer-copyright">Copyright &copy; <span id="ad-year"></span>. All rights
    reserved.</span>
</footer>
