<!doctype html>
<html>
<head>
  <title>Page Not Found</title>
  <%- include('partials/includes') %>
</head>
<body>

  <div class="brand-background-img container-fluid">
    <!-- rows are 12 columns -->
    <br><br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11"><h1 id="pageTitle"><i class="fas fa-exclamation-triangle"></i>Page Not Found</h1>
        <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="/">return to the homepage</a>.
        </p>
    </div>
    </div>
    <br><br>
  </div>
</body>
</html>