<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <style>
      #pageContainer {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 98vw !important;
      }

      #callVideoColumn {
        height : 86vh;
      }

      #callFeaturesColumn {
        height : 86vh;
      }

      .big-icon {
        font-size:60px !important;
        color: #8f8f8f;
        margin-top:20px;
      }

      .panel-header {
        font-weight:bold;
        font-size:15px;
      }

      .button-area {
        margin-top: 20px;
      }

      .button-area button {
        width: 100%;
        background-color: #073863 !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        font-weight: bold !important;
      }

      .or-column {
        font-weight:bold;
        font-size:15px;
        margin-top:90px;
        width: 9.666667% !important;
      }

      .modal-footer {
        text-align:center !important;
        background-color:#f9f9f9;
        border-radius:6px;
      }

      .button-panel {
        background-color:#f9f9f9 !important;
        padding: 10px;
        margin-bottom: 0px !important;
      }

      .panel-header {
        color: black !important;
        font-weight: bold;
        font-size: 16px;
      }

      .panel-col {
        width: 45% !important;
      }

    </style>
  </head>
  <%- include("../partials/agent_page_header") %>

  <body>
    <div class="container" id="pageContainer">
      <div class="row">
        <div id="callVideoColumn" class="col-md-8 text-center" style="border : 5px solid black">
          TODO Add video boxes and in call features here
        </div>
        <div id="callFeaturesColumn" class="col-md-4" style="border : 5px solid black">
          TODO Add chat and sidebar features here
        </div>
      </div>
    </div>

    
  </body>
  <%- include("../partials/acedirect_footer") %>
  <div id="optionsModal" class="modal fade">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<img  id="placeholderImage" src="/dro/images/placeholder.png" width="100%" alt="Video placeholder">
				</div>
				<div class="modal-body text-center">
					
          <div class="row">
            <div class="col-xs-5 panel-col">
                <div class="panel panel-default button-panel">
                    <div class="panel-body">
                      <span class="panel-header">Videocall with an agent</span>

                      <i class="fa fa-user big-icon"></i>
                      <div class="button-area text-center">
                        <button type="button" class="btn btn-primary btn-style" data-dismiss="modal">Call</button>
                      </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-2 or-column">
              OR
            </div>
            <div class="col-xs-5 panel-col">
              <div class="panel panel-default button-panel">
                <div class="panel-body">
                  <span class="panel-header">Leave a message</span>

                  <i class="fa fa-envelope big-icon"></i>
                  <div class="button-area text-center">
                    <button type="button" class="btn btn-primary btn-style" data-dismiss="modal">Leave Videomail</button>
                  </div>
                </div>
                
            </div>
            </div>
          </div>

				</div>
				<div class="modal-footer">
          <a href="#"><i class="fa fa-sign-out"></i>&nbsp;Exit Support Portal</a>
				</div>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="/dro/js/complaint_form.js"></script>
</html>
