<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <style>
      #pageContainer {
        padding-left: 0px !important;
        padding-right: 0px !important;
        width: 98vw !important;
      }

      #callVideoColumn {
        height : 86vh;
      }

      #callFeaturesColumn {
        height : 86vh;
      }

      #callButtonsRow {
        background-color: darkgray;
      }

      #speakingToRow {
        background-color: lightgray;
      }

      #remoteViewCol {
        background-color: black;
      }

      #end-call {
        float: right;
        margin-top: 1%;
        margin-right: 1%;
      }

      .circleButton {
        border-radius: 50% !important;
        border: none;
        height : 45px;
        width : 45px !important;
        margin : 5px;
        margin-left: 15px;
        background-color: #073863 !important;
        color: white;
      }

      #startScreenshare {
        background-color: #073863 !important;
        color: white;
      }

      .big-icon {
        font-size:75px !important;
        color: #337ab7;
        margin-top:10px;
      }

      .panel-header {
        font-weight:bold;
        font-size:15px;
      }

      .button-area {
        margin-top: 10px;
      }

      .button-area button {
        width: 100%;
      }

      .or-column {
        font-weight:bold;
        font-size:15px;
        margin-top:75px;
      }

      .modal-footer {
        text-align:center !important;
      }

    </style>
  </head>
  <%- include("../partials/agent_page_header") %>

  <body>
    <div class="container" id="pageContainer">
      <div class="row">
        <div id="callVideoColumn" class="col-md-8 text-center" style="border : 5px solid black">
          <!--Only appear outside of a call-->
          <div id="noCallPoster" hidden>
            <img  id="heroLogo" src="dro/images/acedirect-logo.png" alt="heroLogo">
          </div>
          <!--END Only appear outside of a call-->
          <!--Appear inside of a call-->
          <div id="inCallSection">
            <div id="callButtonsRow" class="row">
              <span>TODO min</span>
              <button id="mute-audio" type="button" class="btn btn-gray circleButton" onclick="muteAudio()">
                <i id="mute-audio-icon" class="call-btn-icon fa fa-microphone"></i>
              </button>
              <button id="hide-video" type="button" class="btn btn-gray circleButton" onclick="enableVideoPrivacy()">
                <i id="mute-camera-off-icon" class="call-btn-icon fa fa-video-camera"></i>
              </button>
              <button type="button" class="btn btn-gray circleButton" onclick="enterFullscreen()">
                <i id="fullscreen-icon" class="call-btn-icon fa fa-expand"></i>
              </button>
              <button type="button" class="btn btn-gray" id="startScreenshare">
                <i class="call-btn-icon fa fa-desktop"></i> Start Screenshare
              </button>
              <button id="end-call" type="button" class="btn btn-danger" onclick="terminateCall()">
                <i class="call-btn-icon fa fa-phone fa-rotate-135"></i> End Call
              </button>
            </div>

            <div id="speakingToRow" class="row">
              You are communicating with TODO
            </div>

            <div id="callVideosRow" class="row">
              <div class="col-md-4" id="selfViewCol">
                <video id="selfView" autoplay muted="true" class="mirror-mode"></video>
              </div>
              <div class="col-md-8" id="remoteViewCol">
                <video id="remoteView" autoplay></video>
              </div>
            </div>
          </div>
          <!--END Appear inside of a call-->
        </div>
        <div id="callFeaturesColumn" class="col-md-4" style="border : 5px solid black">
          TODO Add chat and sidebar features here
        </div>
      </div>
    </div>

    
  </body>
  <%- include("../partials/acedirect_footer") %>
  <div id="optionsModal" class="modal fade">
		<div class="modal-dialog modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<img  id="placeholderImage" src="/dro/images/placeholder.png" width="100%" alt="Video placeholder">
				</div>
				<div class="modal-body text-center">
					
          <div class="row">
            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-body">
                      <span class="panel-header">Videocall with an agent</span>

                      <i class="fa fa-user-circle big-icon"></i>
                      <div class="button-area text-center">
                        <button type="button" class="btn btn-primary btn-style" data-dismiss="modal">Call</button>
                      </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-2 or-column">
              OR
            </div>
            <div class="col-xs-5">
              <div class="panel panel-default">
                <div class="panel-body">
                  <span class="panel-header">Leave a message</span>

                  <i class="fa fa-envelope big-icon"></i>
                  <div class="button-area text-center">
                    <button type="button" class="btn btn-primary btn-style" data-dismiss="modal">Leave Videomail</button>
                  </div>
                </div>
                
            </div>
            </div>
          </div>

				</div>
				<div class="modal-footer">
          <a href="#"><i class="fa fa-sign-out"></i>Exit Support Portal</a>
				</div>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="/dro/js/complaint_form.js"></script>
</html>
