<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> <%=version%></span>
    </div>
    <strong>Copyright &copy; <%=version%>.</strong> All rights reserved.
</footer>
