.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 992px;
  overflow-x: auto;
}

.fill-height {
  flex-grow: 1;
  width: 100%;
}

/* Center modals vertically */
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  min-height: calc(100vh - 60px);

  @media (max-width: 767px) {
    min-height: calc(100vh - 20px);
  }
}

.ad-container {
  width: 100% !important;
}

.modal-footer {
  text-align: center !important;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.greeting-controls {
  background-color: lightgray;
  height: 100%;
  color: #000000;
  padding: 0.6em 2.6em 0.6em 2.6em;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}

.video-element {
  cursor: pointer;
  background-color: #333333;
}

#greetingPlayPauseBtn {
  cursor: pointer;
  vertical-align: middle;
}

#custom-seekbar {
  cursor: pointer;
  background-color: #839CB1;
  height: 5px;
  overflow: hidden;
  position: relative;
  width: 75%;
  display: inline-block;
  padding-left: 1em;
}

#custom-seekbar span {
  background-color: #073863;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0px;
}

.modal-outline-btn {
  color: #073863 !important;
  border-color: #073863 !important;
  border-width: 2px !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: 190px !important;
}

.modal-outline-btn:hover {
  color: #073863 !important;
  border-color: #073863 !important;
  border-width: 2px !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: 190px !important;
  background-color: #E6EBEF !important;
}

.modal-outline-btn:focus {
  color: #073863 !important;
  border-color: #073863 !important;
  border-width: 2px !important;
  font-weight: bold !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: 190px !important;
  background-color: #CDD7E0 !important;
}

.vm-cancel-button, .vm-cancel-button:hover, .vm-cancel-button:focus {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}


#recordingCountdown {
  font-size: 5em;
}

.recording-controls {
  background-color: lightgray;
  height: 100%;
  color: #000000;
  padding: 0.9em 2.6em 0.9em 2.6em;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

#recordingTimer {
  background-color: #fdeeec;
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border: #000000;
  vertical-align: -webkit-baseline-middle;
}

#recordingTimer span {
  background-color: #ef5343;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 0px;
}

.btn-custom {
  color: #fff;
  background-color: #073863;
  border-color: #073863;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #073863;
  color: white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.greeting-button {
  width: 100%;
  background-color: #073863 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-weight: bold !important;
}

.video-container {
  position: relative;
  background-color: #333333;
}

.video-container video {
  position: relative;
  z-index: 0;
}

.self-view {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.recordingInfoBanner {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  z-index: 1;
  padding-top: 40px;
}

#RecordingNotif {
  font-size: 24px;
}

.sendVideomailButton:hover {
  color: white;
  background-color: #205493 !important;
}

.sendVideomailButton:focus {
  color: white;
  background-color: #396082 !important;
}

.circleButton {
  border-radius: 50% !important;
  border: none;
  height: 45px;
  width: 45px !important;
  margin-left: 15px;
  background-color: #073863 !important;
  color: white;
  vertical-align: initial !important;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.circleButton:hover {
  color : white;
  background-color: #205493 !important;
}

.circleButton:focus {
  color : white;
  background-color: #396082 !important;
}
